.table-container {
  position: relative;
  height: 500px; 
  max-width: 1024px;
  overflow-y: auto;
  overflow-x: hidden; 
  border: none;
}

.table-container thead th {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
  max-width: 1024px;
  border: none;
}
.table-container tbody tr:nth-child(even) {
  background-color: white !important;
}

.table-container tbody tr:nth-child(odd) {
  background-color: white !important; 
}


.table-container tbody td
 {
  border: none;
}

.play-column {
  width: 10%; 
}

.delete-column {
  width: 20%; 
}
